<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eskimoH.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,800},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>eskimoN.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,728},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>johnH.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,728},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>johnN.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,510},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>jokeH.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,220},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>jokeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,438},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>kanH.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>kanN.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,220},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>nayH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>nayN.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,510},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>paulH.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,220},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>paulN.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>pondH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{217,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,288}}</string>
                <key>sourceSize</key>
                <string>{217,288}</string>
            </dict>
            <key>pondN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,288}}</string>
                <key>sourceSize</key>
                <string>{217,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charectorSet2-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b839248b10c39e983a73231262f013be:9856039a52941d77981c9375c4d6d93c:4d4c95797e86fcf802a2ceedf264104f$</string>
            <key>textureFileName</key>
            <string>charectorSet2-hd.png</string>
        </dict>
    </dict>
</plist>
