<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>torH.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>torN.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,582},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>toyH.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,292},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>toyN.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>tumH.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,582},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>tumN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{216,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,288}}</string>
                <key>sourceSize</key>
                <string>{216,288}</string>
            </dict>
            <key>walnutH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{217,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,288}}</string>
                <key>sourceSize</key>
                <string>{217,288}</string>
            </dict>
            <key>walnutN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,288}}</string>
                <key>sourceSize</key>
                <string>{217,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charectorSet3-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf49659a44ab9de377e7f496e8ee50fc:b1c928c18da07f20663acb998c8b2e67:4ed96cc05cb2d26b81ac3834c863b638$</string>
            <key>textureFileName</key>
            <string>charectorSet3-hd.png</string>
        </dict>
    </dict>
</plist>
