<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eskimoH.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>eskimoN.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>johnH.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>johnN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>jokeH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>jokeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>kanH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>kanN.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>nayH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>nayN.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>paulH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>paulN.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>pondH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>pondN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charectorSet2.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b839248b10c39e983a73231262f013be:9856039a52941d77981c9375c4d6d93c:4d4c95797e86fcf802a2ceedf264104f$</string>
            <key>textureFileName</key>
            <string>charectorSet2.png</string>
        </dict>
    </dict>
</plist>
