<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,33},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>artH.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,335},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>artN.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,224},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>bonH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>bonN.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,224},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>byanH.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,113},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>byanN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>cowboyH.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,113},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>cowboyN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>invenH.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,446},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>invenN.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,445},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>janeH.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,335},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>janeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>jaroenH.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>jaroenN.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>selectCharectorText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,29}}</string>
                <key>sourceSize</key>
                <string>{205,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charectorSet1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c23558e03387232b28dd7bb3819bd73e:242136faaf80ddfeeffec4ceebee08f2:8db25a63a329ff4493fa7a7f97208734$</string>
            <key>textureFileName</key>
            <string>charectorSet1.png</string>
        </dict>
    </dict>
</plist>
