<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ART-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,222},{128,216}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,442},{118,218}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{118,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,442},{124,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,10},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,222},{130,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,224},{146,218}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{146,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,222},{130,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,442},{124,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,10},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,442},{118,218}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{118,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,222},{128,216}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,664},{124,218}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,662},{120,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{124,218}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,222},{132,218}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,444},{138,218}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{138,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,222},{132,218}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{124,218}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,662},{120,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,664},{124,218}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,440},{132,214}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,13},{132,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{118,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{118,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,900},{122,214}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,15},{122,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,882},{132,214}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{132,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,662},{148,214}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{148,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,882},{132,214}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{132,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,900},{122,214}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,15},{122,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{118,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{118,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ART-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,440},{132,214}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,13},{132,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{148,224}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{148,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,680},{130,224}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{130,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{134,224}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{134,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{140,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{140,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,224}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{154,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{140,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{140,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{134,224}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{134,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,680},{130,224}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{130,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{148,224}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{148,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,454},{140,222}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{140,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,220}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{136,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,678},{132,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{140,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,228},{160,220}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,16},{160,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{140,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,678},{132,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,220}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{136,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,454},{140,222}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{140,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,670},{144,218}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,890},{132,218}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{130,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{144,218}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,450},{170,218}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{170,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{144,218}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{130,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,890},{132,218}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BON-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,670},{144,218}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac1-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aece6853860ef21da414d05d1637e59f:7e62075814ef39701a8257b627f39b0b:c76acfaeeff44eaf2bcfb8f8006b5686$</string>
            <key>textureFileName</key>
            <string>ac1-hd.png</string>
        </dict>
    </dict>
</plist>
