<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ART-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,296},{64,110}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,228},{60,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,420},{62,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,144},{74,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,420},{62,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,228},{60,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,296},{64,110}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,360},{62,110}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,362},{62,110}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,356},{62,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,292},{66,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,220},{70,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,292},{66,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,356},{62,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,362},{62,110}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,360},{62,110}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,424},{66,108}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,340},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,450},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{66,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,426},{74,108}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{66,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,450},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,340},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ART-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,424},{66,108}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{74,112}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,78},{66,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{66,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,74},{68,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,112}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,74},{68,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,78},{66,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{66,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{74,112}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{70,112}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{68,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,288},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,156},{70,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,74},{80,110}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{80,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,156},{70,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,288},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{68,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{70,112}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{72,110}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,228},{66,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,220},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,146},{72,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{86,110}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{86,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,146},{72,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,220},{66,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,228},{66,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BON-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{72,110}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aece6853860ef21da414d05d1637e59f:7e62075814ef39701a8257b627f39b0b:c76acfaeeff44eaf2bcfb8f8006b5686$</string>
            <key>textureFileName</key>
            <string>ac1.png</string>
        </dict>
    </dict>
</plist>
