<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Edit-Walnut-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{66,108}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,222},{66,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{66,108}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{68,108}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,108}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{68,108}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{66,108}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,222},{66,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{66,108}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,332},{62,108}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,332},{64,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{64,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{68,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{72,108}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{72,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{68,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{64,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,332},{64,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,332},{62,108}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,442},{66,106}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{66,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{64,106}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{64,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{64,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{64,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{70,106}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{70,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,222},{76,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{76,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{70,106}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{70,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{64,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{64,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{64,106}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{64,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Edit-Walnut-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,442},{66,106}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{66,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c588fac39b2aa99c97b329e4b1e16d2e:63dba9250e17f980db16c8f1c92bdaa2:62b90499b64b0acbe35a45f7f0ff4c61$</string>
            <key>textureFileName</key>
            <string>ac10.png</string>
        </dict>
    </dict>
</plist>
