<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom_Animate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,121},{1,1}}</string>
                <key>offset</key>
                <string>{-77,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,283},{73,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{73,61}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{93,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{93,73}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{109,91}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{109,91}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,184},{125,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{125,97}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{141,117}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{109,91}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{109,91}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,184},{125,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{125,97}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{141,117}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,184},{125,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{125,97}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{109,91}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{109,91}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{141,117}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{125,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{125,97}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,95},{109,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{109,87}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>Boom_Animate_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,121},{1,1}}</string>
                <key>offset</key>
                <string>{-77,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac11.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cabcefc6ff770c894c5bf24bb5f32648:6698604b48026df1c9ceb799851f8b01:af685b2fabdc3f2fc38fb06d007a2dba$</string>
            <key>textureFileName</key>
            <string>ac11.png</string>
        </dict>
    </dict>
</plist>
