<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom_Animate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-154.5,130.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,576},{144,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{144,120}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{184,152}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{184,152}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,186},{218,182}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{218,182}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,370},{248,204}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{248,204}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,232}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{280,232}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,186},{218,182}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{218,182}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,370},{248,204}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{248,204}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,232}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{280,232}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,370},{248,204}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{248,204}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,186},{218,182}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{218,182}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,232}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{280,232}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{248,204}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{248,204}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{218,182}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{218,182}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
            <key>Boom_Animate_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-154.5,130.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{310,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac11-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cabcefc6ff770c894c5bf24bb5f32648:6698604b48026df1c9ceb799851f8b01:af685b2fabdc3f2fc38fb06d007a2dba$</string>
            <key>textureFileName</key>
            <string>ac11-hd.png</string>
        </dict>
    </dict>
</plist>
