<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BRYAN-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,676},{136,222}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,226},{124,222}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{124,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{134,222}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,678},{148,222}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{148,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,228},{156,222}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{156,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,678},{148,222}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{148,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{134,222}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,226},{124,222}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{124,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,676},{136,222}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{138,224}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{138,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,680},{126,224}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{126,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{134,224}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{134,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{144,224}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{144,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,224}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,9},{156,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{144,224}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{144,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{134,224}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{134,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,680},{126,224}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{126,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{138,224}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{138,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,452},{136,222}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,450},{124,222}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{124,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{134,222}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{148,222}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{148,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,454},{156,222}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{156,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{148,222}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{148,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{134,222}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,450},{124,222}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{124,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>BRYAN-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,452},{136,222}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,218},{140,214}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{140,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,438},{124,214}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{124,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,876},{120,214}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,16},{120,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,660},{128,214}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{128,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{140,214}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,16},{140,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,660},{128,214}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{128,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,876},{120,214}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,16},{120,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,438},{124,214}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{124,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,218},{140,214}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{140,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{140,218}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{140,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,222},{126,218}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,13},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,902},{120,218}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,13},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,450},{126,218}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,13},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,674},{138,218}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,13},{138,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,450},{126,218}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,13},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,902},{120,218}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,13},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,222},{126,218}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,13},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{140,218}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{140,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,220},{128,216}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,15},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{120,216}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,900},{120,216}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,442},{128,216}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,15},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{150,216}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{150,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,442},{128,216}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,15},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,900},{120,216}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{120,216}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Eskimo-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,220},{128,216}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,15},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac2-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4748f1257f9c95025377cd32ff25df21:455ced1d2e439365febcd04f294a9b32:b3368e5a4421fde86d072f405619cd1c$</string>
            <key>textureFileName</key>
            <string>ac2-hd.png</string>
        </dict>
    </dict>
</plist>
