<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BRYAN-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,158},{68,112}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,226},{64,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,138},{74,112}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,76},{80,112}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{80,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,138},{74,112}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,226},{64,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,158},{68,112}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{70,114}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{64,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{64,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{68,114}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{68,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{72,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{72,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,114}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{78,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{72,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{72,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{68,114}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{68,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{64,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{64,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{70,114}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,214},{68,112}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,284},{62,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{62,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,156},{68,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{74,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,74},{80,112}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{80,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{74,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,156},{68,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,284},{62,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{62,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>BRYAN-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,214},{68,112}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,430},{72,108}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{72,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,432},{62,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,460},{60,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,478},{64,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{70,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,478},{64,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,460},{60,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,432},{62,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,430},{72,108}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{72,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,292},{70,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,364},{64,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,368},{62,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,348},{64,110}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,228},{70,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,348},{64,110}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,368},{62,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,364},{64,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,292},{70,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{64,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,348},{60,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,414},{62,110}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,300},{66,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{76,110}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,300},{66,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,414},{62,110}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,348},{60,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Eskimo-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{64,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4748f1257f9c95025377cd32ff25df21:455ced1d2e439365febcd04f294a9b32:b3368e5a4421fde86d072f405619cd1c$</string>
            <key>textureFileName</key>
            <string>ac2.png</string>
        </dict>
    </dict>
</plist>
