<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cowboy-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,240},{74,112}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{76,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{76,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{78,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,112}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{84,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{78,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{76,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{76,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,240},{74,112}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{72,112}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{72,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,162},{76,112}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,82},{78,112}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{78,112}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,82},{78,112}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,162},{76,112}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{72,112}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{72,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,160},{76,112}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,238},{74,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,82},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{78,112}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{80,112}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{78,112}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,82},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,238},{74,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Cowboy-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,160},{76,112}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,448},{70,104}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{70,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{60,104}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{60,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{58,104}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{58,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,490},{60,104}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{60,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,384},{68,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{68,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,490},{60,104}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{60,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{58,104}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{58,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{60,104}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{60,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,448},{70,104}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{70,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,316},{66,108}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{60,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,444},{58,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{58,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,384},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{68,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,384},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,444},{58,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{58,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{60,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,316},{66,108}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,314},{68,108}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,386},{60,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,384},{58,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{58,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{66,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{76,108}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{66,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,384},{58,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{58,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,386},{60,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>InVein-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,314},{68,108}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365cfea3ea64a05b034eea3d6c61d238:c8619c2806f80697107fae086f78d723:db7c52c8e352e6b347a0c8971d328f7f$</string>
            <key>textureFileName</key>
            <string>ac3.png</string>
        </dict>
    </dict>
</plist>
