<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jane-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,212},{144,206}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{144,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,210},{132,206}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{132,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,210},{128,206}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{128,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,638},{142,206}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,23},{142,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,430},{156,206}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{156,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,638},{142,206}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,23},{142,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,210},{128,206}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{128,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,210},{132,206}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{132,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,212},{144,206}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{144,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{138,208}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{138,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,884},{136,208}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,21},{136,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{126,208}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{126,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,220},{140,208}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,21},{140,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,656},{152,208}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{152,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,220},{140,208}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,21},{140,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{126,208}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{126,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,884},{136,208}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,21},{136,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{138,208}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{138,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,876},{144,206}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{144,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,420},{132,206}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{132,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{128,206}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{128,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{142,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{142,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,866},{156,206}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{156,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{142,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{142,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{128,206}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{128,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,420},{132,206}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{132,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jane-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,876},{144,206}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{144,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{130,216}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{130,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,440},{116,214}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{116,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,658},{106,216}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{106,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,440},{120,216}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,13},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,222},{132,216}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,15},{132,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,440},{120,216}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,13},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,658},{106,216}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{106,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,440},{116,214}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{116,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{130,216}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{130,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{132,218}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,222},{116,218}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{108,218}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,13},{108,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,664},{116,218}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{134,218}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,14},{134,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,664},{116,218}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{108,218}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,13},{108,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,222},{116,218}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{132,218}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{132,218}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,10},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,444},{124,218}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{110,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,664},{120,218}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{138,218}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{138,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,664},{120,218}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{120,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{110,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,444},{124,218}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{124,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Jaroen-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{132,218}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,10},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac4-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:934cb0d3f5f69793b879dea99ced0309:f0aed4b922b0de947771cc22fa7afd96:87bfd3501b062987b9574ccf9776b473$</string>
            <key>textureFileName</key>
            <string>ac4-hd.png</string>
        </dict>
    </dict>
</plist>
