<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KAN-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{76,110}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,110}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,112},{64,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,226},{66,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,226},{70,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,226},{66,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,112},{64,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,110}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{76,110}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,110}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,338},{72,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,328},{62,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,226},{64,110}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{72,110}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,226},{64,110}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,328},{62,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,338},{72,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,110}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,146},{76,108}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,146},{70,108}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,226},{64,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,218},{64,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,108}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,218},{64,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,226},{64,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,146},{70,108}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>KAN-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,146},{76,108}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,74},{70,110}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,226},{62,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{58,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{68,110}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{58,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,226},{62,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,74},{70,110}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{70,110}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{64,110}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,338},{62,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{68,110}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,338},{62,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{64,110}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{70,110}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,338},{66,110}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,450},{60,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,338},{64,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,110}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,338},{64,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,450},{60,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Nay-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,338},{66,110}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f717a7173211dce93d509d2a9babe2cc:ea32fbd8fdd370d0cc751720195388bd:9f1b2da629bd690f64cef778032523e2$</string>
            <key>textureFileName</key>
            <string>ac6.png</string>
        </dict>
    </dict>
</plist>
