<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paul-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{146,220}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{146,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{128,220}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,11},{128,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,258},{114,220}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{114,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,132},{120,220}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{120,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,224},{136,220}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{136,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,132},{120,220}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{120,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,258},{114,220}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{114,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{128,220}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,11},{128,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{146,220}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{146,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,374},{128,218}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{128,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,630},{116,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,10},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,512},{116,218}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,10},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,504},{126,218}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,10},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,370},{140,218}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,10},{140,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,504},{126,218}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,10},{126,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,512},{116,218}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,10},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,630},{116,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,10},{116,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,374},{128,218}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{128,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{152,220}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,8},{152,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{132,220}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,254},{114,220}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{114,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,130},{126,220}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{126,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,668},{142,220}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{142,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,130},{126,220}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{126,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,254},{114,220}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{114,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{132,220}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Paul-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{152,220}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,8},{152,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,874},{148,216}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{148,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,438},{134,216}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{134,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,220},{126,216}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,890},{132,216}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,14},{132,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,748},{148,216}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,14},{148,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,890},{132,216}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,14},{132,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,220},{126,216}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,438},{134,216}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{134,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,874},{148,216}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{148,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,632},{150,216}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{150,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,220},{134,216}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{134,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,656},{126,216}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{136,216}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{136,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{146,216}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{146,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{136,216}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{136,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,656},{126,216}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,220},{134,216}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{134,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,632},{150,216}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{150,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,220}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{152,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,446},{138,220}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{138,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{126,220}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{126,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{136,220}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{136,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{150,220}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{150,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{136,220}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{136,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{126,220}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{126,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,446},{138,220}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{138,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Pound-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,220}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{152,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac7-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d9b0e04c5703ec7d2a23fbc555a8374:0f2a91e020d433891743e8aba95585bb:581901f9705ea9eb85a2dc677cf21762$</string>
            <key>textureFileName</key>
            <string>ac7-hd.png</string>
        </dict>
    </dict>
</plist>
