<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paul-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{74,110}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,210},{64,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{58,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,224},{62,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{68,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,224},{62,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{58,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,210},{64,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{74,110}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{66,110}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{58,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,206},{64,110}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,110}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,206},{64,110}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{58,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{60,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{66,110}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{76,110}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,72},{66,110}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,450},{58,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,144},{64,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,338},{72,110}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,144},{64,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,450},{58,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,72},{66,110}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Paul-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{76,110}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,276},{74,108}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,386},{68,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,272},{64,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,444},{66,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,276},{74,108}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,444},{66,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,272},{64,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,386},{68,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,276},{74,108}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,224},{76,108}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{68,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,272},{64,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,114},{68,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,334},{74,108}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,114},{68,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,272},{64,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{68,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{68,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,224},{76,108}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,110}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{70,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,140},{64,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{68,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{68,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,140},{64,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{70,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Pound-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,110}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{76,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac7.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d9b0e04c5703ec7d2a23fbc555a8374:0f2a91e020d433891743e8aba95585bb:581901f9705ea9eb85a2dc677cf21762$</string>
            <key>textureFileName</key>
            <string>ac7.png</string>
        </dict>
    </dict>
</plist>
