<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TUM-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,664},{126,216}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,882},{122,216}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,15},{122,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,542},{120,216}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,890},{132,216}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,15},{132,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{140,216}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{140,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,890},{132,216}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,15},{132,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,542},{120,216}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,15},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,882},{122,216}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,15},{122,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,664},{126,216}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,220},{140,214}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{140,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,652},{124,214}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{124,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,664},{120,214}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{120,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,436},{126,214}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{126,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,884},{136,214}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,20},{136,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,436},{126,214}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{126,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,664},{120,214}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{120,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,652},{124,214}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{124,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,220},{140,214}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{140,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,414},{126,216}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,18},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,284},{128,216}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,542},{120,216}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,154},{128,216}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,18},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{150,216}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{150,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,154},{128,216}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,18},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,542},{120,216}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{120,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,284},{128,216}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{128,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>TUM-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,414},{126,216}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,18},{126,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,222},{142,218}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{142,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{130,218}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{132,218}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,15},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{148,218}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{148,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,224},{156,218}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{156,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{148,218}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{148,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{132,218}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,15},{132,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{130,218}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{130,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,222},{142,218}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{142,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{140,220}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{140,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,668},{130,220}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{130,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{132,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{144,220}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{144,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,220}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{156,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{144,220}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{144,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{132,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{132,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,668},{130,220}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{130,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{140,220}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{140,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,444},{144,218}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{134,218}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{134,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,664},{128,218}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{128,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,666},{144,218}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,446},{158,218}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{158,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,666},{144,218}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,664},{128,218}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{128,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{134,218}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{134,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Tor-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,444},{144,218}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{144,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac8-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5383e69d0895819d7374e6d019959c:4d72f88f7617404034b0c93308653638:e814f526ce25242dc4159a8e8bcc4d31$</string>
            <key>textureFileName</key>
            <string>ac8-hd.png</string>
        </dict>
    </dict>
</plist>
