<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TUM-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,294},{64,110}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,296},{62,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{62,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,228},{66,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,156},{70,110}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,228},{66,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{62,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,296},{62,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,294},{64,110}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,432},{70,108}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,426},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,112},{60,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,360},{64,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,360},{70,108}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,360},{64,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,112},{60,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,426},{62,108}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{62,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,432},{70,108}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{70,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,470},{64,108}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,360},{64,108}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{66,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,358},{76,108}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{66,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{66,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{60,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,360},{64,108}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TUM-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,470},{64,108}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{64,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{72,110}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{66,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{74,110}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{80,110}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{80,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{74,110}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{66,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{72,110}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,84},{70,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,224},{66,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,156},{66,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,152},{72,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{78,110}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{78,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,152},{72,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,156},{66,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,224},{66,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{66,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,84},{70,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,82},{72,110}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,292},{64,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,78},{72,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,110}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{80,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,78},{72,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,292},{64,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{64,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{68,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Tor-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,82},{72,110}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5383e69d0895819d7374e6d019959c:4d72f88f7617404034b0c93308653638:e814f526ce25242dc4159a8e8bcc4d31$</string>
            <key>textureFileName</key>
            <string>ac8.png</string>
        </dict>
    </dict>
</plist>
