<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Toy-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{142,230}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{142,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,698},{132,230}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,5},{132,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{138,230}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{138,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{156,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{156,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,230}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{164,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{156,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{156,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{138,230}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{138,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,698},{132,230}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,5},{132,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{142,230}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{142,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,466},{160,226}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{160,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,694},{132,226}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,9},{132,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{138,226}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{138,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{140,226}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{140,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,234},{156,226}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{156,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{140,226}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{140,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{138,226}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{138,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,694},{132,226}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,9},{132,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,466},{160,226}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{160,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,462},{150,222}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{150,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,454},{134,222}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,686},{136,222}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{136,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,230},{146,222}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{146,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{136,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,686},{136,222}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{136,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,454},{134,222}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{134,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Toy-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,462},{150,222}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{150,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac9-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d665c18c344d6bf8992701293ebf735:99fe88282cdf7895704d5927943c0b62:750f07dea43b4725015e0676c96bcf86$</string>
            <key>textureFileName</key>
            <string>ac9-hd.png</string>
        </dict>
    </dict>
</plist>
