<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Toy-Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{72,116}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,356},{66,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{66,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{70,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{70,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{78,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{78,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{84,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{78,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{78,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{70,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{70,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,356},{66,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{66,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{72,116}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{72,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,120},{80,114}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,354},{66,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{66,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{70,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{70,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,238},{80,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{70,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{70,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{70,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,354},{66,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{66,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,120},{80,114}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,232},{68,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,350},{68,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,118},{74,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,350},{68,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,232},{68,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{68,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Toy-Right_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d665c18c344d6bf8992701293ebf735:99fe88282cdf7895704d5927943c0b62:750f07dea43b4725015e0676c96bcf86$</string>
            <key>textureFileName</key>
            <string>ac9.png</string>
        </dict>
    </dict>
</plist>
