<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pound_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,936},{252,440}}</string>
                <key>offset</key>
                <string>{-135,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{252,440}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,646},{288,440}}</string>
                <key>offset</key>
                <string>{-87,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,39},{288,440}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{306,430}}</string>
                <key>offset</key>
                <string>{-48,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,51},{306,430}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1190},{356,388}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,100},{356,388}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,326},{440,318}}</string>
                <key>offset</key>
                <string>{37,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,225},{440,318}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{448,322}}</string>
                <key>offset</key>
                <string>{37,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,222},{448,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{448,316}}</string>
                <key>offset</key>
                <string>{40,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,227},{448,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,320}}</string>
                <key>offset</key>
                <string>{35,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,231},{450,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Pound_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{440,316}}</string>
                <key>offset</key>
                <string>{34,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,236},{440,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die14-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca3c131e339e214fae5c48e741fb808:cc6b5070d386843f1355bc9305d8eca9:6a7f3f329a6cb9d9c69991fc55a8a3d4$</string>
            <key>textureFileName</key>
            <string>die14-hd.png</string>
        </dict>
    </dict>
</plist>
