<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,468},{130,224}}</string>
                <key>offset</key>
                <string>{-70,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{130,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,316},{150,224}}</string>
                <key>offset</key>
                <string>{-45,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{150,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{156,218}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{156,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,600},{196,196}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{196,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,156}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{224,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{224,152}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,112},{224,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,160},{224,154}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{224,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{224,154}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,111},{224,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOR_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,156}}</string>
                <key>offset</key>
                <string>{23,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,111},{224,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die15.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cefdea4fa0966141b2491adcad7ed1:02fd6e29c93c1989cfd7bc3a9a487807:dbee99c7131591393679282a459d3aa0$</string>
            <key>textureFileName</key>
            <string>die15.png</string>
        </dict>
    </dict>
</plist>
