<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOY_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{138,232}}</string>
                <key>offset</key>
                <string>{-78,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{138,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,310},{144,232}}</string>
                <key>offset</key>
                <string>{-54,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{144,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{152,222}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,24},{152,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,456},{190,196}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,54},{190,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,156}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,113},{232,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,156},{232,152}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,113},{232,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{232,150}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,114},{232,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{232,152}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,113},{232,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TOY_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,156}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,113},{232,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die16.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783e3b41a825f85639b863e861baf296:33a5d80186619e32188f3745719746c4:50a76a2bc8b4d8337875337dd612a8f1$</string>
            <key>textureFileName</key>
            <string>die16.png</string>
        </dict>
    </dict>
</plist>
