<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TUM_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,466},{120,224}}</string>
                <key>offset</key>
                <string>{-72,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{120,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{138,226}}</string>
                <key>offset</key>
                <string>{-51,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{138,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{148,216}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{148,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,588},{188,192}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,62},{188,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,142},{224,162}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,117},{224,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{224,158}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,119},{224,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,306},{224,158}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,117},{224,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{224,158}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,118},{224,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>TUM_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,162}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,117},{226,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die17.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4f331556a01deb1def15bb5eaa5ff1:330bebe22002f7a5654faea0f18ecd40:ff43c506d59f31be92bf0acf2ada7ff1$</string>
            <key>textureFileName</key>
            <string>die17.png</string>
        </dict>
    </dict>
</plist>
