<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PAUL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,432},{114,222}}</string>
                <key>offset</key>
                <string>{-72,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{114,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,294},{136,222}}</string>
                <key>offset</key>
                <string>{-50,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{136,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{154,218}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,25},{154,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{192,194}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,56},{192,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,148},{222,144}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,125},{222,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{222,144}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,123},{222,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{222,142}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,124},{222,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,144}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,123},{222,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAUL_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,144}}</string>
                <key>offset</key>
                <string>{19,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,124},{222,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die13.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3298a079575a30305bb44cb2700b886c:d4d44c02a05a12c53445002bc56789c9:091f91000b409c4d74208c14881f9c2e$</string>
            <key>textureFileName</key>
            <string>die13.png</string>
        </dict>
    </dict>
</plist>
