<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TUM_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,918},{238,448}}</string>
                <key>offset</key>
                <string>{-144,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{238,448}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,642},{274,448}}</string>
                <key>offset</key>
                <string>{-102,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,41},{274,448}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{294,430}}</string>
                <key>offset</key>
                <string>{-53,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,65},{294,430}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1158},{376,384}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,124},{376,384}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{448,320}}</string>
                <key>offset</key>
                <string>{30,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,237},{448,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,324},{448,316}}</string>
                <key>offset</key>
                <string>{30,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,237},{448,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{448,312}}</string>
                <key>offset</key>
                <string>{30,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,237},{448,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{448,316}}</string>
                <key>offset</key>
                <string>{30,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,236},{448,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TUM_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,320}}</string>
                <key>offset</key>
                <string>{29,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,237},{448,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die17-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4f331556a01deb1def15bb5eaa5ff1:330bebe22002f7a5654faea0f18ecd40:ff43c506d59f31be92bf0acf2ada7ff1$</string>
            <key>textureFileName</key>
            <string>die17-hd.png</string>
        </dict>
    </dict>
</plist>
