<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ART_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{122,216}}</string>
                <key>offset</key>
                <string>{-71,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{122,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,218}}</string>
                <key>offset</key>
                <string>{-50,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{134,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,442},{146,210}}</string>
                <key>offset</key>
                <string>{-28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{146,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{178,184}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,71},{178,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{216,146}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,118},{216,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,296},{216,144}}</string>
                <key>offset</key>
                <string>{14,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,115},{216,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{216,144}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,115},{216,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,150},{216,144}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,117},{216,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ART_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{216,146}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,119},{216,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ec796ab32cd474bf751407159a0284:74c44bdb8b62fcacca7177c7d1d78663:9de2dd306eea06da39eefae8df881a0b$</string>
            <key>textureFileName</key>
            <string>die1.png</string>
        </dict>
    </dict>
</plist>
