<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ART_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,854},{242,432}}</string>
                <key>offset</key>
                <string>{-141,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{242,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,584},{268,432}}</string>
                <key>offset</key>
                <string>{-100,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{268,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{290,418}}</string>
                <key>offset</key>
                <string>{-55,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,67},{290,418}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1098},{356,364}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,145},{356,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,292}}</string>
                <key>offset</key>
                <string>{30,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,236},{432,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{432,286}}</string>
                <key>offset</key>
                <string>{27,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,231},{432,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,296},{432,286}}</string>
                <key>offset</key>
                <string>{30,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,232},{432,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{432,286}}</string>
                <key>offset</key>
                <string>{27,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,235},{432,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>ART_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,292}}</string>
                <key>offset</key>
                <string>{26,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,238},{432,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die1-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ec796ab32cd474bf751407159a0284:74c44bdb8b62fcacca7177c7d1d78663:9de2dd306eea06da39eefae8df881a0b$</string>
            <key>textureFileName</key>
            <string>die1-hd.png</string>
        </dict>
    </dict>
</plist>
