<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{128,224}}</string>
                <key>offset</key>
                <string>{-70,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{128,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{138,224}}</string>
                <key>offset</key>
                <string>{-54,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{138,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,224}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,21},{166,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{196,204}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{196,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,156}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,116},{224,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,316},{224,152}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,117},{224,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{224,150}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,115},{224,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{224,154}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,115},{224,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Joke_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,160},{224,154}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,116},{224,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die10.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb1ece4c7e950e16636d9dfb60eeff1d:e8aafd56f909140551e7658bbb85d5d6:f46dbb92ccab59af9c324470a9c267e3$</string>
            <key>textureFileName</key>
            <string>die10.png</string>
        </dict>
    </dict>
</plist>
