<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOY_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{274,462}}</string>
                <key>offset</key>
                <string>{-156,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{274,462}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,610},{284,464}}</string>
                <key>offset</key>
                <string>{-107,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,23},{284,464}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{302,444}}</string>
                <key>offset</key>
                <string>{-46,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,48},{302,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,896},{378,388}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,111},{378,388}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,310}}</string>
                <key>offset</key>
                <string>{50,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,227},{464,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,306},{464,302}}</string>
                <key>offset</key>
                <string>{50,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,228},{464,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{464,300}}</string>
                <key>offset</key>
                <string>{51,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,227},{464,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{464,302}}</string>
                <key>offset</key>
                <string>{49,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,228},{464,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOY_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,310}}</string>
                <key>offset</key>
                <string>{50,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,227},{464,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die16-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783e3b41a825f85639b863e861baf296:33a5d80186619e32188f3745719746c4:50a76a2bc8b4d8337875337dd612a8f1$</string>
            <key>textureFileName</key>
            <string>die16-hd.png</string>
        </dict>
    </dict>
</plist>
