<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALNUT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,940},{270,444}}</string>
                <key>offset</key>
                <string>{-140,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,43},{270,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,654},{284,444}}</string>
                <key>offset</key>
                <string>{-113,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{284,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{316,426}}</string>
                <key>offset</key>
                <string>{-47,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,78},{316,426}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1212},{364,382}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,129},{364,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,326}}</string>
                <key>offset</key>
                <string>{30,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,241},{444,326}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,330},{444,322}}</string>
                <key>offset</key>
                <string>{30,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,241},{444,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{444,316}}</string>
                <key>offset</key>
                <string>{31,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,240},{444,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{444,322}}</string>
                <key>offset</key>
                <string>{29,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,242},{444,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>WALNUT_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,326}}</string>
                <key>offset</key>
                <string>{29,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,244},{444,326}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die18-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6aa413849462a1788d096a3c4945caa:da0e090ce779f8e69e84f488aa182bd5:33a8102126caaf0aa80530a873d1daa9$</string>
            <key>textureFileName</key>
            <string>die18-hd.png</string>
        </dict>
    </dict>
</plist>
