<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PAUL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,848},{228,444}}</string>
                <key>offset</key>
                <string>{-144,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,33},{228,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,578},{268,444}}</string>
                <key>offset</key>
                <string>{-99,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,36},{268,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{306,434}}</string>
                <key>offset</key>
                <string>{-44,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,52},{306,434}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1078},{382,386}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,114},{382,386}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,288}}</string>
                <key>offset</key>
                <string>{38,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,250},{444,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{444,284}}</string>
                <key>offset</key>
                <string>{38,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,249},{444,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,292},{444,284}}</string>
                <key>offset</key>
                <string>{39,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,248},{444,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{444,284}}</string>
                <key>offset</key>
                <string>{37,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,249},{444,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>PAUL_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,288}}</string>
                <key>offset</key>
                <string>{37,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,248},{444,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die13-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3298a079575a30305bb44cb2700b886c:d4d44c02a05a12c53445002bc56789c9:091f91000b409c4d74208c14881f9c2e$</string>
            <key>textureFileName</key>
            <string>die13-hd.png</string>
        </dict>
    </dict>
</plist>
