<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{260,446}}</string>
                <key>offset</key>
                <string>{-141,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{260,446}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{296,446}}</string>
                <key>offset</key>
                <string>{-89,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,41},{296,446}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,926},{312,432}}</string>
                <key>offset</key>
                <string>{-40,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,57},{312,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{388,390}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,105},{388,390}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{446,310}}</string>
                <key>offset</key>
                <string>{49,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,222},{446,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,620},{446,304}}</string>
                <key>offset</key>
                <string>{49,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,224},{446,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{446,306}}</string>
                <key>offset</key>
                <string>{49,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,221},{446,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,314},{446,304}}</string>
                <key>offset</key>
                <string>{48,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,225},{446,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>TOR_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,310}}</string>
                <key>offset</key>
                <string>{47,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,223},{446,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die15-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cefdea4fa0966141b2491adcad7ed1:02fd6e29c93c1989cfd7bc3a9a487807:dbee99c7131591393679282a459d3aa0$</string>
            <key>textureFileName</key>
            <string>die15-hd.png</string>
        </dict>
    </dict>
</plist>
