<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,438},{128,214}}</string>
                <key>offset</key>
                <string>{-71,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{128,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,296},{140,214}}</string>
                <key>offset</key>
                <string>{-56,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,32},{140,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{146,208}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,42},{146,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,568},{186,190}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,71},{186,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,146}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,121},{214,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{214,144}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,120},{214,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,150},{214,144}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,120},{214,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{214,144}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,120},{214,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Bon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,146}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,120},{214,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b996f05fbc1fa8397ff2f3eabadf7430:d8427a6e3b0fcb3e620e970defea74b9:f86e637b3d404012077dd03f18c860e4$</string>
            <key>textureFileName</key>
            <string>die2.png</string>
        </dict>
    </dict>
</plist>
