<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{256,426}}</string>
                <key>offset</key>
                <string>{-143,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{256,426}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{278,426}}</string>
                <key>offset</key>
                <string>{-112,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,66},{278,426}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,868},{292,414}}</string>
                <key>offset</key>
                <string>{-68,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,86},{292,414}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{368,378}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,144},{368,378}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,290}}</string>
                <key>offset</key>
                <string>{-1,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,244},{426,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,580},{426,286}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,242},{426,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{426,286}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,241},{426,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,292},{426,286}}</string>
                <key>offset</key>
                <string>{1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,241},{426,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{426,288}}</string>
                <key>offset</key>
                <string>{-1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,243},{426,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die2-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b996f05fbc1fa8397ff2f3eabadf7430:d8427a6e3b0fcb3e620e970defea74b9:f86e637b3d404012077dd03f18c860e4$</string>
            <key>textureFileName</key>
            <string>die2-hd.png</string>
        </dict>
    </dict>
</plist>
