<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bryan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,884},{254,432}}</string>
                <key>offset</key>
                <string>{-121,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,45},{254,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,602},{280,432}}</string>
                <key>offset</key>
                <string>{-81,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{280,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{300,422}}</string>
                <key>offset</key>
                <string>{-41,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,67},{300,422}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1140},{362,372}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{362,372}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,304},{432,296}}</string>
                <key>offset</key>
                <string>{28,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,234},{432,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{432,296}}</string>
                <key>offset</key>
                <string>{28,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,234},{432,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{432,300}}</string>
                <key>offset</key>
                <string>{29,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,233},{432,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{432,294}}</string>
                <key>offset</key>
                <string>{27,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,234},{432,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Bryan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,296}}</string>
                <key>offset</key>
                <string>{25,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,235},{434,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die3-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02d002b2bb0f295223fa1b9e2d56d6b:11e61671263b24e56ffde0d0f7ecb595:566543b7d1084a4680b3d82b2e39600a$</string>
            <key>textureFileName</key>
            <string>die3-hd.png</string>
        </dict>
    </dict>
</plist>
