<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>John_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{252,450}}</string>
                <key>offset</key>
                <string>{-145,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{252,450}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,930},{282,450}}</string>
                <key>offset</key>
                <string>{-93,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,29},{282,450}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,450}}</string>
                <key>offset</key>
                <string>{-55,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,36},{314,450}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{394,406}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,96},{394,406}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{450,308}}</string>
                <key>offset</key>
                <string>{29,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,222},{450,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{450,306}}</string>
                <key>offset</key>
                <string>{30,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,222},{450,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,312},{450,308}}</string>
                <key>offset</key>
                <string>{33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,222},{450,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,308}}</string>
                <key>offset</key>
                <string>{29,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,222},{450,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>John_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,622},{450,306}}</string>
                <key>offset</key>
                <string>{28,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,225},{450,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die9-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b137ec54566214d0269a27b8991d0c8:e2e3e43d5b220db78594557fda16b4eb:7946e1ef611bbc817c7d09f3e32285d4$</string>
            <key>textureFileName</key>
            <string>die9-hd.png</string>
        </dict>
    </dict>
</plist>
