<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delH.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,846},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>delN.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,843},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,719},{125,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,32}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>mainMenuH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{307,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,60}}</string>
                <key>sourceSize</key>
                <string>{307,60}</string>
            </dict>
            <key>mainMenuN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{333,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,65}}</string>
                <key>sourceSize</key>
                <string>{333,65}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,585},{124,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,29}}</string>
                <key>sourceSize</key>
                <string>{124,29}</string>
            </dict>
            <key>pauseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,391}}</string>
                <key>sourceSize</key>
                <string>{581,391}</string>
            </dict>
            <key>pauseH.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,843},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>pauseN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>resumeH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{307,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,60}}</string>
                <key>sourceSize</key>
                <string>{307,60}</string>
            </dict>
            <key>resumeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{333,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,65}}</string>
                <key>sourceSize</key>
                <string>{333,65}</string>
            </dict>
            <key>upH.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,846},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>upN.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,843},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause-hd.png</string>
            <key>size</key>
            <string>{395,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5b65515873a4024aa19d58e4ba719e:41907d4c0ccdd1cd23531efee6aec2d1:ca630c40545cab96d2476b3829e86ae5$</string>
            <key>textureFileName</key>
            <string>pause-hd.png</string>
        </dict>
    </dict>
</plist>
