<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delH.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,69},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>delN.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,202},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,99},{63,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,16}}</string>
                <key>sourceSize</key>
                <string>{63,16}</string>
            </dict>
            <key>mainMenuH.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,200},{154,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,30}}</string>
                <key>sourceSize</key>
                <string>{154,30}</string>
            </dict>
            <key>mainMenuN.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{167,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,33}}</string>
                <key>sourceSize</key>
                <string>{167,33}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{62,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,15}}</string>
                <key>sourceSize</key>
                <string>{62,15}</string>
            </dict>
            <key>pauseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,196}}</string>
                <key>sourceSize</key>
                <string>{291,196}</string>
            </dict>
            <key>pauseH.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>pauseN.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,158},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>resumeH.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{154,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,30}}</string>
                <key>sourceSize</key>
                <string>{154,30}</string>
            </dict>
            <key>resumeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{167,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,33}}</string>
                <key>sourceSize</key>
                <string>{167,33}</string>
            </dict>
            <key>upH.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,39},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>upN.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,171},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{389,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5b65515873a4024aa19d58e4ba719e:41907d4c0ccdd1cd23531efee6aec2d1:ca630c40545cab96d2476b3829e86ae5$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
